# -----------------------------------------------------------------------------
# React.js Web App Configuration (Vite)
# -----------------------------------------------------------------------------

# Base path for the web application deployment (default is "/" for root domain)
VITE_BASE_URL=/

# Full URL of the backend API for client HTTP requests
# Local dev default: "http://localhost:3000/api/v1"
VITE_API_URL=http://localhost:3000/api/v1